.qty {
    width: fit-content;
    padding: 7px;
    border-radius: 4px;
}

.available{
    background-color: #6d96d1;
}

.unavailable{
    // display: none;
    background-color: lightcoral;
}

// .orderline{
//     background-color: gold;
// }

// .selected{
//     color: white;
// }